$header-height: 90px;
$panel-height: 48px;
$row-height: 56px;
$table-header-height: 80px;
$navbar-height: 64px;
$top-panel-height: 64px;
$input-height: 36px;

$font-small: 0.5rem;
$font-default: 0.75rem;
$font-medium: 1rem;
$font-heading: 1.3rem;

$padding-tiny: 4px;
$padding-smallest: 8px;
$padding-smaller: 12px;
$padding-small: 16px;
$padding-medium: 24px;
$padding-big: 36px;
$padding-bigger: 48px;
$padding-xl: 96px;

$btn-height-medium: 54px;
$btn-height-big: 100px;
$btn-width-medium: 220px;
