<div class="showcase">
    <div class="container flex">
        <div class="showcase-text">
            <h1>Save money for your business by switching water supplier</h1>
            <p class="showcase-warning">Since 2017, UK businesses, charities and public sector organisations have been able to choose who
                supplies their water, meaning they can now avoid being locked into costly contracts.</p>
            <p>If your business still hasn’t switched, you could make significant savings by comparing water suppliers to find a better deal.</p>
            <p>At Love Energy Savings, we are committed to guiding you through the process of switching watersupplier to help you find the very best deal for your business.</p>
            <!-- <a href="features.html" class="btn btn-outline">Read More</a> -->

            <div class=logo-container>
                <a class="logo-link" [routerLink]="['/']">
                    <img class="water-savings-logo" alt="Love Energy Savings" src="assets/images/love-water-savings-logo.png">
                </a>
                <a class="logo-link" [routerLink]="['/']">
                    <img class="trust-pilot-logo" alt="Love Energy Savings" src="assets/images/trust-pilot-logo.svg">
                </a>
            </div>
            </div>

        <div class="showcase-form card">
            <h2>Request a quote</h2>
                <form>
                <div class="form-control">
                    <input type="text" name="name" placeholder="Name*" required>
                </div>
                <div class="form-control">
                    <input type="text" name="phnnumber" placeholder="Phone Number*" required>
                </div>
                <div class="form-control">
                    <input type="email" name="email" placeholder="EmailAddress*" required>
                </div>
                <input type="submit" value="Submit" class="btn btn-primary">
                <div class="disclaimer">
                    By submitting your details, you are agreeing to Love Energy Savings terms & conditions. For more
                    information please visit our privacy policy
                </div>
            </form>
        </div>
    </div>
</div>