@import 'variable';

.navbar {
    background-color: var(--secondary-color);
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $header-height;
    padding: 0 $padding-big;
    position: relative;
   
    .logo-link {
        margin-right: auto;
        height: 70%;
    }

    .logo {
        width: auto;
        height: 100%;
    }

    ul {
        display: flex;
        margin: 0 $padding-medium;
    }
  
    li {
        padding: $padding-smallest;
        font-size: $font-default;

        a:hover {
            border-bottom: 2px var(--primary-green) solid;
        }
    }

    .contact-number{
        span{
            color: var(--primary-green);
            font-size: $font-heading;
        }
    }

}
  