<div class="navbar container">
    <a class="logo-link" [routerLink]="['/']">
        <img class="logo" alt="Love Energy Savings" src="assets/images/love-energy-savings-logo.png">
    </a>

<!-- Navbar -->
    <nav>
        <ul>
            <li><a href="/">Business Energy</a></li>
            <li><a href="/">Home Energy</a></li>
            <li><a href="/">Other Services</a></li>
            <li><a href="/">Content Hub</a></li>
            <li><a href="/">About Us</a></li>
        </ul>
    </nav>
    
    <!-- contact numbe -->
    <div class="contact-number">
        <a href="tel:0800 9888 375">
            <!-- <span class="call__call d--nD"><i class="fa-flip-horizontal fas fa-phone "></i></span> -->
            <span>0800 9888 375</span>
        </a>
    </div>
</div>